.App {
  text-align: center;
  background-color: #b3b3b3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c3e6e;
}

.card {
  border-radius: 20px;
  border: 1px solid #ffffff;
  width: 60%;
  height: 90vh;
  background-color: #ffffff;
}
