.App {
  text-align: center;
  background-color: #b3b3b3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c3e6e;
}

.card {
  border-radius: 20px;
  border: 1px solid #ffffff;
  width: 60%;
  height: 90vh;
  background-color: #ffffff;
}

.blue-button {
  border-radius: 5px;
  border: 1px solid #1c3e6e;
  width: 45%;
  height: fit-content;
  background-color: #1c3e6e;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
