.body {
  border-radius: 20px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.left-column {
  border-radius: 20px;
  width: 45%;
  margin-left: 8%;
  justify-content: start;
  align-items: start;
  align-items: start;
  text-align: start;
}

.right-column {
  border-radius: 20px;
  width: 35%;
  margin-right: 8%;
  display: flex;
  justify-content: space-between;
}

.select-import-name {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #cdcfdd;
  color: #1c3e6e;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
  height: fit-content;
}

.select-import-name:hover {
  border-color: #1c3e6e;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dbdde7;
  width: 60%;
}
