.radio-label {
  color: #1c3e6e;
  font-size: 14px;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.radio-input {
  margin: 0;
  visibility: hidden;
}
.radio-no-margin-left {
  margin-left: -5px;
}
.radio-margin-left {
  margin-left: 10px;
}
.radio-input:checked + span {
  border: 2px solid #1c3e6e;
}

.radio-input:checked + span:after {
  opacity: 1;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #1c3e6e;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
